$colors: (
	primary: (
		100: hsl(225deg 100% 94%),
		200: hsl(245deg 75% 52%),
	),
	secondary: (
		100: hsl(0deg 100% 100%),
	),
	neutral: (
		100: hsl(225deg 100% 98%),
		200: hsl(224deg 23% 55%),
		300: hsl(223deg 47% 23%),
		400: hsl(223deg 47% 23% / 40%),
	),
);
