$type-scale: (
	small: (
		100: 0.6875rem,
		400: 0.9375rem,
		700: 1.3125rem,
	),
	medium: (
		100: 0.6875rem,
		400: 0.9375rem,
		700: 2.5rem,
	),
	large: (
		100: 0.6875rem,
		400: 0.9375rem,
		700: 2.5rem,
	),
);
